// MARGIN

@for $i from 0 through 10 {
    .m-#{$i} {
        margin: #{$i}px;
    }

    .mx-#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }

    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }

    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }

    .my-#{$i} {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }

    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }    
}

$higher-nums: 10, 15, 20, 25, 40, 50;

@each $num in $higher-nums {
    .mx-#{$num} {
        margin-left: #{$num}px;
        margin-right: #{$num}px;
    }

    .my-#{$num} {
        margin-top: #{$num}px;
        margin-bottom: #{$num}px;
    }
}

.mx-bw-10 > *:not(:last-child) {
    margin-right: 10px;
}

.mx-bw-5 > *:not(:last-child) {
    margin-right: 5px;
}

.my-bw-5 > *:not(:last-child) {
    margin-bottom: 5px;
}

.my-bw-10 > *:not(:last-child) {
    margin-bottom: 10px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.ml-1\/10 {
    margin-left: 10%;
}

// PADDING

.p-5-0 {
    padding: 5px 0px;
}

.p-5-10 {
    padding: 5px 10px;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

// SIZING

.h-10vh {
    height: 10vh;
}

.h-20vh {
    height: 20vh;
}

.max-w-500 {
    max-width: 500px;
}





.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 10px 0px;
}

.rounded {
    border-radius: 8px;
}

.rounded-lg {
    border-radius: 10px;
}